<footer class="bg-light text-center py-3 mt-4">
  <p class="mb-0">&copy; 2025 Biblioteca Virtual de Salem - ENERO 2.025</p>
  <p class="mb-0">UNETI - PNFII - Proyecto General Unificado</p>
  <p class="mb-0">Diseño: Equipo N° 8 - Integrantes:</p>
  <p class="mb-0">Br. Naudy Villarroel - Scrum Master</p>
  <p class="mb-0">Br. Mike  Villarroel - Product Owner</p>
  <p class="mb-0">Br. Ramsés Flores    - Developer</p>
  <p class="mb-0">Br. Willbermeluis Bellorin - Developer</p>
</footer>