

<div class="container mt-5">
  <img src="/img/logo.png" alt="Logo de la Plataforma" width="150">

  <h1>Bienvenido a la Plataforma Digital De Salem {{ name }}</h1>
  <p>Explora nuestros cursos en línea y obtén certificados validados con Blockchain.</p>
  <a href="/courses" class="btn btn-primary">Ver Cursos</a>
</div>

